* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/l4necm6rp4m.png);
    background-repeat: no-repeat;
    max-width: 1121px;
    min-height: 1430px;
    font-size: 2rem;
    opacity: .5;
    color: blue; 
}

.container {
    display: grid;
    grid-template-rows: minmax(120px,auto)  minmax(31px,auto)  minmax(94px,auto) minmax(77px,auto) minmax(414px,auto) minmax(195px,auto) minmax(494px,auto);
   
    grid-template-areas:
    "one one one one"
   "two two two two"
   "three eight eight eight"
   "four four four four"
   "five five five nine"
   "six six six six"
   "seven seven ten ten";
   grid-template-columns: minmax(20px,272px) minmax(20px,473px) minmax(20px,88px) minmax(20px,286px);
  

  
}
.container > * {
    border: 2px dashed blue;
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 img{
    margin-top: 18px;
    height: 56px;
    width: 257px;
    grid-area: three;
}

.box4{
    grid-area: four;
}
.box4{
    
    
}
.box4 ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
    color: #585c5e;
    list-style: none;
    
    
    
}

.wea{
    flex-basis: 339px;
    color: #000000;
    font-size: 17.5px;
   
}
.main{
   flex-basis: 107px;
}
.cat{
    flex-basis: 128px;
}
.arch{
    flex-basis: 87px;
}
.naza{
    flex-basis: 99px;
}
.live{
    flex-basis: 159px;
}
.liv{
    flex-basis: 134px;
}

.box5{
    grid-area: five;
}
.box6{
    grid-area: six;
}
.box7{
    grid-area: seven;

}
    .box7 > ul {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-family: system-ui;
        font-size: 16px;
        font-weight: 400;
        flex-wrap: wrap;
        color: black;
}
.box7 p{
    color: #074F7F;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    padding-right: 10px;
    font-style: normal;
    font-family: System-ui;
    
    
}

.roz{
    flex-basis: 200px;

}
.droz{
    flex-basis: 200px;
}
.box8{
    grid-area: eight;
}
.box9 {
    grid-area: nine;
}
.box10 {
    grid-area: ten;
}

.box10 > ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
    /*color: #FFFFFF;*/
    color: black;
    list-style: none;
    padding: 1rem;
    /*background-color:#0A5181;*/
}
.yak{
    flex-basis: 298px;
    
    font-size: 16px;
   
}
.do{
   flex-basis: 301px;
  
}
.T1{
    flex-basis: 120px;
    font-size: 11.2px;
    justify-content: end;
   
}
.sa{
    flex-basis: 272px;
   
}
.T2{
    flex-basis: 184px;
    font-size: 11.2px;
   
}
.char{
    flex-basis: 271px;
}
.T3{
    flex-basis: 212px;
    font-size: 11.2px;
    
}
.panj{
    flex-basis: 273px;
   
}



@media(max-width:500px){
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten";
        }
}


