* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/l4necm6rp4m.png);
    background-repeat: no-repeat;
    max-width: 1121px;
    min-height: 1430px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

@media(max-width:500px){

}
.container {
    display: grid;
    grid-template-rows: 120px 31px 94px 77px 414px 195px 494px;
    grid-template-areas: 
    "one one one one"
   "two two two two"
   "three eight eight eight"
   "four four four four"
   "five five five nine"
   "six six six six"
   "seven seven ten ten";
   grid-template-columns: 272px 474px 86px 287px;

  
}
.container > * {
    border: 2px dashed blue;
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3{
    grid-area: three;
}

.box4{
    grid-area: four;
}
.box4{
    
    
}
ul {
    display: flex;
    font-family: ;
   flex-wrap: inherit;
   list-style: none;
   align-items: center;
   justify-content: space-between;
    
}
.wea{
    font-size: 20px;
    margin: 7px;
    padding-top: 20px;
    font-family: var(--bs-body-font-family);
    border: 1 dashed red;

}
.main{
    padding-left: 217px;
    font-size: 18px;
    padding-top: 17px;

}

.box5{
    grid-area: five;
}
.box6{
    grid-area: six;
}
.box7{
    grid-area: seven;
}
.box8{
    grid-area: eight;
}
.box9 {
    grid-area: nine;
}
.box10 {
    grid-area: ten;
}
